language: python

python:
  - 3.5
  - 3.6

env:
 global:
    - PYTHONPATH="/home/travis/build/synw/django-instant"

install:
  - pip install virtualenv tox coveralls

script:
  - tox

after_success:
  coveralls
