{% load staticfiles %}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vuex.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/page.js' %}"></script>
<script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vv/vv.js' %}"></script>
<script type="text/javascript" src="{% static 'vv/vvstore.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/buefy@0.7.1/dist/buefy.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'instant/js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'instant/js/jquery.sparkline.min.js' %}"></script>
<link rel="stylesheet" media="screen, projection" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" media="screen, projection" href="https://cdn.jsdelivr.net/npm/buefy@0.7.1/dist/buefy.min.css" />
<link rel="stylesheet" media="screen, projection" href="{% static 'instant/css/frontend.css' %}" />
<link rel="stylesheet" media="screen, projection" href="{% static 'instant/css/labels.css' %}" />