{% load staticfiles i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% trans 'Instant' %}</title>
    {% include "instant/frontend/head.html" %}
</head>

<body>
<div id="app">
	{% include "instant/frontend/header.html" %}
	{% include "instant/frontend/content.html" %}
</div>
<script type="text/javascript">
	{% include "instant/frontend/datatable.js" %}
	{% include "instant/frontend/app.js" %}
</script>
{% include "instant/client.html" %}
<script type="text/javascript">
	{% include "instant/event_class_format.js" %}
	{% include "instant/frontend/init.js" %}
</script>
</body>
</html>