/* ##################################### Base tags ##################################### */
body  {
	background-color:#fff;
    margin: 0;
    padding: 0; 
}
a, a:hover, a:visited {
	text-decoration:none !important;
}
a:not(.btn), a:visited:not(.btn) {
	color:darkslategrey;
}
a:hover:not(.btn) {
	color:grey;
}
h1, h2, h3, h4, h5 {
	color:darkslategrey;
}
img {
	vertical-align:middle;
}
div {
	box-sizing: border-box;
	vertical-align:top;
}
/* ##################################### UI ##################################### */
.inline {
	display:inline-block !important;
}
.has-margin {
	margin:1em;
}
.num-msgs {
	color:grey;
	font-weight:bold;
}
.navbar-brand .navbar-item {
	color:white !important;
}
.event-label {
	margin-right:0.5em;
	margin-top:0.5em;
	opacity:0.6;
}
.topmargin {
	margin-top:0.8em;
}
